## Pandas Cheatsheet

https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

In [3]:
import pandas as pd
series = pd.Series(['hello', 'world'])

In [4]:
series.size

2

In [5]:
series[0]

'hello'

In [6]:
series[1]

'world'

In [7]:
series.shape

(2,)

In [8]:
df = pd.DataFrame({"manish" : [1,2,3], "preeti" : [4,5,6], "papa" : [7,8,9]})

In [9]:
df.shape

(3, 3)

In [10]:
df

   manish  preeti  papa
0       1       4     7
1       2       5     8
2       3       6     9

In [11]:
df["manish"]

0    1
1    2
2    3
Name: manish, dtype: int64

In [12]:
type(df["manish"])

pandas.core.series.Series

In [13]:
df.columns

Index(['manish', 'preeti', 'papa'], dtype='object')